# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Playwright
test-results/
playwright-report/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
.env.*
!.env.example
